body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 236, 236);
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main {
  height: 50vh;
}

section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  cursor: pointer;
  border-radius: 100%;
}

select {
  height: 5vh;
  border-radius: 20px;
}

p {
  font-size: 1.5rem;
}

form {
  height: 80%;
  width: 100%;
  padding: 1rem 3rem;
  background-color: rgb(72, 157, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

label {
  font-size: 1.2rem;
  color: white;
}

input {
  height: 10%;
  border-radius: 10px;
  border: 0;
}

input[type="submit"]:hover {
  background-color: rgb(130, 197, 255);
  color: white;
  transition: 0.3s;
}

ul {
  height: 80%;
  background-color: rgb(72, 157, 236);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

li {
  font-size: 1.2rem;
  list-style-type: none;
  color: white;
}

.nombreContact p {
  color: white;
}

.nombreContact {
  background-color: rgb(72, 157, 236);
  height: 80%;
  padding: 1rem;
  margin-top: 20px;
  border-radius: 20px;
}
